body {
    background-image: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-46.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Orbitron', sans-serif;
   
}

form {
	font-size: 2em;
	padding: 1em;
	background-color:white;
	
}




#num-of-people {
  font-size: 2em;
}
